/* Reset */
html {
    font-size: 20px;
}

body{
    margin:0;
}

img{
    max-width:100%;
}

nav ul{
    margin:0;
    padding:0;
    list-style:none;
}

/* Nav */

nav ul{
    display: flex;
    flex-direction: column;
    font-family: Garamond, serif;
}

nav li{
    padding:10px;
    text-align:center;
    text-transform: uppercase;
    border-bottom: 1px rgb(69, 221, 186) solid;
    font-size: 30px;
}

nav li a{
    color:rgb(43, 120, 155);
    text-decoration: none;
    border-bottom: none;
}

.no-btm-border{
    font-size: 10px;
    border-bottom: none;
}

.line2{
    font-size: 10px;
    border-bottom: none;
}

.current {
    font-family: 'Courier New', monospace;
    font-weight: 600;
    border-bottom: none;
}


@media (min-width:600px){
    nav ul{
        flex-direction: row-reverse;
        justify-content: flex-end;

    }
    nav li a{
        color:white;
    };

    .no-btm-border{
        border-bottom: 1px solid rgb(109, 181, 224);
    }
}

#homelink{
    padding: 12px;
    order: 1;
}

#bloglink{
    order: 2;
}


@media (min-width:1000px){
    nav ul{
        flex-direction: row-reverse;
        justify-content: space-between;

    }
    nav li a{
        color:rgb(69, 108, 192);
    };

    .no-btm-border{
        border-bottom: 1px solid rgb(109, 181, 224);
    }
}


/* Main */
h1,h3{
    color:white;
}

h1{
    font-family: 'Courier New', monospace;
    font-weight: 300;
    font-size: 64px;
}
h3{
    font-family: 'Brush Script MT', cursive;
    font-weight: 400;
    font-size: 32px;
}


@media (min-width: 600px){
    h1 {
        font-size: 30px;
        color: rgb(52, 75, 40)
    }
    h3 {
        font-size: 30px;
        color:white;
    
    }
}

@media (min-width: 1000px){
    h1 {
        font-size: 30px;
        color:white;
    }
    h3 {
        font-size: 30px;
        color: rgb(164, 126, 77)
    }
}

